src/pages/s-05_2.pug
extends ../tmpl/default
include ../tmpl/parts/mixin-header
include ../tmpl/parts/mixin-footer
include ../tmpl/parts/mixin-svg-use

block content
    div.screen
        +header('Пожалуйста, ожидайте очереди', true, true)

        div.content-wrap
            div.content-container
                p.mess-prim Если вы&nbsp;еще&nbsp;не&nbsp;взяли талон, то&nbsp;можете получить его&nbsp;в&nbsp;терминале на&nbsp;входе в&nbsp;отделение.

            div.button-bar
                button.btn Оцените меня
                button.btn Спросите меня

        +footer()

public/s-05_2.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <link rel="stylesheet" href="css/style.css">
    <script src="qrc:///qtwebchannel/qwebchannel.js"></script>
    <script src="js/promobot.js"></script>
    <script src="js/personal-offers.js"></script>
    <script src="js/rasterizer.js"></script>
  </head>
  <body>
    <div class="screen-wrap">
      <div class="screen">
        <div class="header">
          <button class="nav-btn" id="go-start">В начало</button>
          <div class="screen-title" id="screen-title">Пожалуйста, ожидайте очереди</div>
          <button class="nav-btn exit-btn" id="go-end">Пока!</button>
        </div>
        <div class="content-wrap">
          <div class="content-container">
            <p class="mess-prim">Если вы&nbsp;еще&nbsp;не&nbsp;взяли талон, то&nbsp;можете получить его&nbsp;в&nbsp;терминале на&nbsp;входе в&nbsp;отделение.</p>
          </div>
          <div class="button-bar">
            <button class="btn">Оцените меня</button>
            <button class="btn">Спросите меня</button>
          </div>
        </div>
        <div class="footer">
          <div class="subtitles">
            <div class="subtitles__ico"><img src="img/ico-mike.png"/></div>
            <div class="subtitles__txt" id="subtitles"></div>
            <!--div.subtitles__ico+svg-use('ico-speaker',30,26)
            -->
          </div>
        </div>
      </div>
    </div>
    <template id="tmpl-btn">
      <button class="btn modal-btn"></button>
    </template>
    <template id="tmpl-offer-card">
      <div class="card offer-card tiled-menu__tile">
        <h3 class="card__title offer-card__title"></h3>
        <p class="card__desc offer-card__desc"></p>
        <p class="offer-card__more"><a href="#">Подробнее</a></p>
        <div class="offer-card__footer">
          <label class="check-interest js-check-offer"><span>Мне интересно</span>
            <input type="checkbox" name="">
          </label>
        </div>
      </div>
    </template>
    <template id="tmpl-offer-slide">
      <div class="slide offer-slide">
        <div class="offer-slide__title"></div><img src="">
        <div class="offer-slide__footer">
          <button class="btn btn-def js-offer-y">Мне интересно</button>
          <button class="btn btn-def btn_nope js-offer-n">Не интересно</button>
        </div>
      </div>
    </template>
  </body>
</html>
