public/s-07.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <link rel="stylesheet" href="css/style.css">
    <script src="qrc:///qtwebchannel/qwebchannel.js"></script>
    <script src="js/promobot.js"></script>
    <script src="js/personal-offers.js"></script>
    <script src="js/rasterizer.js"></script>
  </head>
  <body>
    <div class="screen-wrap">
      <div class="screen">
        <div class="header">
          <button class="nav-btn" id="go-start">В начало</button>
          <div class="screen-title" id="screen-title">Выберите интересующие персональные предложения</div>
          <button class="nav-btn exit-btn" id="go-end">Пока!</button>
        </div>
        <div class="content-wrap" id="offers-screen">
          <div class="tiled-menu offers">
            <div class="tiled-menu__tile">
              <div class="card offer-card">
                <h3 class="card__title">SMS-банкинг</h3>
                <p class="card__desc offer-card__desc">SMS-банкинг — это услуга оповещений, которая позволяет Вам быть в курсе операций, совершенных по Вашей банковской карте или по Вашим счетам.</p>
                <p class="offer-card__more"><a href="#">Подробнее</a></p>
                <div class="offer-card__footer">
                  <label class="check-interest"><span>Мне интересно</span>
                    <input type="checkbox" name="sms-bank">
                  </label>
                </div>
              </div>
            </div>
            <div class="tiled-menu__tile">
              <div class="card offer-card">
                <h3 class="card__title">Услуга «Автоплатеж»</h3>
                <p class="card__desc offer-card__desc">Информирование о сумме платежа перед списанием средств с вашей карты. В случае необходимости сможете отменить с помощью SMS-сообщения.</p>
                <p class="offer-card__more"><a href="#">Подробнее</a></p>
                <div class="offer-card__footer">
                  <label class="check-interest is-checked"><span>Мне интересно</span>
                    <input type="checkbox" name="autopayment">
                  </label>
                </div>
              </div>
            </div>
            <div class="tiled-menu__tile">
              <div class="card offer-card">
                <h3 class="card__title">Карта с большими бонусами</h3>
                <p class="card__desc offer-card__desc">Оформите банковскую карту Visa Classic с большими бонусами. Зарегистрируйтесь в бонусной программе «Спасибо от Сбербанк.</p>
                <p class="offer-card__more"><a href="#">Подробнее</a></p>
                <div class="offer-card__footer">
                  <label class="check-interest"><span>Мне интересно</span>
                    <input type="checkbox" name="card-bonus">
                  </label>
                </div>
              </div>
            </div>
            <div class="button-bar">
              <button class="btn">Распечатать</button>
            </div>
          </div>
        </div>
        <div class="footer">
          <div class="subtitles">
            <div class="subtitles__txt" id="subtitles"></div>
            <div class="subtitles__ico ico-mic" id="btn-mute"><img src="img/ico-mike.png"></div>
            <!--div.subtitles__ico+svg-use('ico-speaker',30,26)
            -->
          </div>
        </div>
      </div>
    </div>
    <template id="tmpl-btn">
      <button class="btn modal-btn"></button>
    </template>
    <template id="tmpl-offer-card">
      <div class="card offer-card tiled-menu__tile">
        <h3 class="card__title offer-card__title"></h3>
        <p class="card__desc offer-card__desc"></p>
        <p class="offer-card__more"><a href="#">Подробнее</a></p>
        <div class="offer-card__footer">
          <label class="check-interest js-check-offer"><span>Мне интересно</span>
            <input type="checkbox" name="">
          </label>
        </div>
      </div>
    </template>
    <template id="tmpl-offer-slide">
      <div class="slide offer-slide">
        <div class="offer-slide__title"></div><img src="">
        <div class="offer-slide__footer">
          <button class="btn btn-def js-offer-y">Мне интересно</button>
          <button class="btn btn-def btn_nope js-offer-n">Не интересно</button>
        </div>
      </div>
    </template>
  </body>
</html>

src/pages/s-07.pug
extends ../tmpl/default
include ../tmpl/parts/mixin-header
include ../tmpl/parts/mixin-svg-use

block content
    div.screen
        +header('Выберите интересующие персональные предложения',true, true)

        div#offers-screen.content-wrap
            div.tiled-menu.offers
                div.tiled-menu__tile
                    div.card.offer-card
                        h3.card__title SMS-банкинг
                        p.card__desc.offer-card__desc SMS-банкинг — это услуга оповещений, которая позволяет Вам быть в курсе операций, совершенных по Вашей банковской карте или по Вашим счетам.
                        p.offer-card__more
                            a(href='#') Подробнее
                        div.offer-card__footer
                            label.check-interest
                                span Мне интересно
                                input(type='checkbox' name='sms-bank')

                div.tiled-menu__tile
                    div.card.offer-card
                        h3.card__title Услуга «Автоплатеж»
                        p.card__desc.offer-card__desc Информирование о сумме платежа перед списанием средств с вашей карты. В случае необходимости сможете отменить с помощью SMS-сообщения.
                        p.offer-card__more
                            a(href='#') Подробнее
                        div.offer-card__footer
                            label.check-interest.is-checked
                                span Мне интересно
                                input(type='checkbox' name='autopayment')

                div.tiled-menu__tile
                    div.card.offer-card
                        h3.card__title Карта с большими бонусами
                        p.card__desc.offer-card__desc Оформите банковскую карту Visa Classic с большими бонусами. Зарегистрируйтесь в бонусной программе «Спасибо от Сбербанк.
                        p.offer-card__more
                            a(href='#') Подробнее
                        div.offer-card__footer
                            label.check-interest
                                span Мне интересно
                                input(type='checkbox' name='card-bonus')

                div.button-bar
                    button.btn Распечатать

        include ../tmpl/parts/inc-footer
