public/s-09_1.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <link rel="stylesheet" href="css/style.css">
    <script src="qrc:///qtwebchannel/qwebchannel.js"></script>
    <script src="js/promobot.js"></script>
    <script src="js/personal-offers.js"></script>
    <script src="js/rasterizer.js"></script>
  </head>
  <body>
    <div class="screen-wrap">
      <div class="screen">
        <div class="header">
          <button class="nav-btn" id="go-start" hidden="hidden">В начало</button>
          <div class="screen-title" id="screen-title">Задайте мне вопросы о Сбербанке</div>
          <button class="nav-btn exit-btn" id="go-end">Пока!</button>
        </div>
        <div class="content-wrap">
          <div class="content-container">
            <p class="mess-prim">Могу я быть еще чем-то полезен?</p>
            <p class="mess-action">Спросите меня. Я&nbsp;готов ответить на&nbsp;вопросы о&nbsp;Сбербанке.</p>
          </div>
          <div class="button-bar">
            <button class="btn">Оцените меня</button>
          </div>
        </div>
        <div class="footer">
          <div class="subtitles">
            <div class="subtitles__ico"><img src="img/ico-mike.png"/></div>
            <div class="subtitles__txt" id="subtitles">Что такое Сбербанк?</div>
            <!--div.subtitles__ico+svg-use('ico-speaker',30,26)
            -->
          </div>
        </div>
      </div>
      <div class="modal-overlay is-open"></div>
      <div class="modal modal_confirm">
        <div class="modal__close"></div>
        <div class="modal__content">
          <p>У вас есть еще вопросы о Сбербанке?</p>
        </div>
        <div class="modal__btns">
          <button class="btn modal-btn">Да</button>
          <button class="btn btn_nope modal-btn">Нет</button>
        </div>
      </div>
    </div>
    <template id="tmpl-btn">
      <button class="btn modal-btn"></button>
    </template>
    <template id="tmpl-offer-card">
      <div class="card offer-card tiled-menu__tile">
        <h3 class="card__title offer-card__title"></h3>
        <p class="card__desc offer-card__desc"></p>
        <p class="offer-card__more"><a href="#">Подробнее</a></p>
        <div class="offer-card__footer">
          <label class="check-interest js-check-offer"><span>Мне интересно</span>
            <input type="checkbox" name="">
          </label>
        </div>
      </div>
    </template>
    <template id="tmpl-offer-slide">
      <div class="slide offer-slide">
        <div class="offer-slide__title"></div><img src="">
        <div class="offer-slide__footer">
          <button class="btn btn-def js-offer-y">Мне интересно</button>
          <button class="btn btn-def btn_nope js-offer-n">Не интересно</button>
        </div>
      </div>
    </template>
  </body>
</html>

src/pages/s-09_1.pug
extends ../tmpl/default
include ../tmpl/parts/mixin-header
include ../tmpl/parts/mixin-footer
include ../tmpl/parts/mixin-svg-use

block content
    div.screen
        +header('Задайте мне вопросы о Сбербанке', false, true)

        div.content-wrap
            div.content-container
                p.mess-prim Могу я быть еще чем-то полезен?

                p.mess-action Спросите меня. Я&nbsp;готов ответить на&nbsp;вопросы о&nbsp;Сбербанке.

            div.button-bar
                button.btn Оцените меня

        +footer('Что такое Сбербанк?')

    div.modal-overlay.is-open

    div.modal.modal_confirm
        div.modal__close

        div.modal__content
            p У вас есть еще вопросы о Сбербанке?

        div.modal__btns
            button.btn.modal-btn Да
            button.btn.btn_nope.modal-btn Нет
