public/s-10.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <link rel="stylesheet" href="css/style.css">
    <script src="qrc:///qtwebchannel/qwebchannel.js"></script>
    <script src="js/promobot.js"></script>
    <script src="js/personal-offers.js"></script>
    <script src="js/rasterizer.js"></script>
  </head>
  <body>
    <div class="screen-wrap">
      <div class="screen">
        <div class="header">
          <button class="nav-btn" id="go-start">В начало</button>
          <div class="screen-title" id="screen-title">Выберите или скажите какая операция вас интересует</div>
          <button class="nav-btn exit-btn" id="go-end">Пока!</button>
        </div>
        <div class="content-wrap" id="rate">
          <div class="rate">
            <figure class="rate-item is-selected"><img src="img/super-good.png">
              <figcaption class="rate-item__desc">Отлично</figcaption>
            </figure>
            <figure class="rate-item"><img src="img/good.png">
              <figcaption class="rate-item__desc">Хорошо</figcaption>
            </figure>
            <figure class="rate-item"><img src="img/norm.png">
              <figcaption class="rate-item__desc">Так себе</figcaption>
            </figure>
            <figure class="rate-item"><img src="img/so-so.png">
              <figcaption class="rate-item__desc">Не очень</figcaption>
            </figure>
            <figure class="rate-item"><img src="img/bad.png">
              <figcaption class="rate-item__desc">Плохо</figcaption>
            </figure>
          </div>
          <div class="button-bar">
            <button class="btn">Отправить оценку</button>
          </div>
        </div>
        <div class="footer">
          <div class="subtitles">
            <div class="subtitles__txt" id="subtitles"></div>
            <div class="subtitles__ico ico-mic" id="btn-mute"><img src="img/ico-mike.png"></div>
            <!--div.subtitles__ico+svg-use('ico-speaker',30,26)
            -->
          </div>
        </div>
      </div>
    </div>
    <template id="tmpl-btn">
      <button class="btn modal-btn"></button>
    </template>
    <template id="tmpl-offer-card">
      <div class="card offer-card tiled-menu__tile">
        <h3 class="card__title offer-card__title"></h3>
        <p class="card__desc offer-card__desc"></p>
        <p class="offer-card__more"><a href="#">Подробнее</a></p>
        <div class="offer-card__footer">
          <label class="check-interest js-check-offer"><span>Мне интересно</span>
            <input type="checkbox" name="">
          </label>
        </div>
      </div>
    </template>
    <template id="tmpl-offer-slide">
      <div class="slide offer-slide">
        <div class="offer-slide__title"></div><img src="">
        <div class="offer-slide__footer">
          <button class="btn btn-def js-offer-y">Мне интересно</button>
          <button class="btn btn-def btn_nope js-offer-n">Не интересно</button>
        </div>
      </div>
    </template>
  </body>
</html>

src/pages/s-10.pug
extends ../tmpl/default
include ../tmpl/parts/mixin-header
include ../tmpl/parts/mixin-svg-use

block content
    div.screen
        +header('Выберите или скажите какая операция вас интересует',true, true)

        div#rate.content-wrap
            div.rate
                figure.rate-item.is-selected
                    img(src='img/super-good.png')
                    figcaption.rate-item__desc Отлично

                figure.rate-item
                    img(src='img/good.png')
                    figcaption.rate-item__desc Хорошо

                figure.rate-item
                    img(src='img/norm.png')
                    figcaption.rate-item__desc Так себе

                figure.rate-item
                    img(src='img/so-so.png')
                    figcaption.rate-item__desc Не очень

                figure.rate-item
                    img(src='img/bad.png')
                    figcaption.rate-item__desc Плохо

            div.button-bar
                button.btn Отправить оценку


        include ../tmpl/parts/inc-footer
