public/s-6.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <link rel="stylesheet" href="css/style.css">
    <script src="qrc:///qtwebchannel/qwebchannel.js"></script>
    <script src="js/promobot.js"></script>
    <script src="js/personal-offers.js"></script>
    <script src="js/rasterizer.js"></script>
  </head>
  <body>
    <div class="screen-wrap">
      <div class="screen">
        <div class="header">
          <button class="nav-btn" id="go-start">В начало</button>
          <div class="screen-title" id="screen-title">Узнайте о персональных предложениях</div>
          <button class="nav-btn exit-btn" id="go-end">Пока!</button>
        </div>
        <div class="content-wrap" id="get-tel">
          <div class="content-container tel-container">
            <p class="tel-container__title">Введите номер вашего телефона</p>
            <div class="tel-container__body">
              <div class="form-col">
                <label class="lbl-def">Номер телефона</label>
                <input class="inp-def js-tel-mask" type="tel"><span class="error-desc">Поле обязательно для заполнения</span>
              </div>
              <button class="btn js-action" data-action="get-offers">Показать спецпредложения</button>
            </div>
            <!--click-offers-erorr-->
          </div>
        </div>
        <div class="footer">
          <div class="subtitles">
            <div class="subtitles__ico"><img src="img/ico-mike.png"/></div>
            <div class="subtitles__txt" id="subtitles"></div>
            <!--div.subtitles__ico+svg-use('ico-speaker',30,26)
            -->
          </div>
        </div>
      </div>
    </div>
    <template id="tmpl-btn">
      <button class="btn modal-btn"></button>
    </template>
    <template id="tmpl-offer-card">
      <div class="card offer-card tiled-menu__tile">
        <h3 class="card__title offer-card__title"></h3>
        <p class="card__desc offer-card__desc"></p>
        <p class="offer-card__more"><a href="#">Подробнее</a></p>
        <div class="offer-card__footer">
          <label class="check-interest js-check-offer"><span>Мне интересно</span>
            <input type="checkbox" name="">
          </label>
        </div>
      </div>
    </template>
    <template id="tmpl-offer-slide">
      <div class="slide offer-slide">
        <div class="offer-slide__title"></div><img src="">
        <div class="offer-slide__footer">
          <button class="btn btn-def js-offer-y">Мне интересно</button>
          <button class="btn btn-def btn_nope js-offer-n">Не интересно</button>
        </div>
      </div>
    </template>
  </body>
</html>

src/pages/s-6.pug
extends ../tmpl/default
include ../tmpl/parts/mixin-header
include ../tmpl/parts/mixin-footer
include ../tmpl/parts/mixin-svg-use

block content
    div.screen
        +header('Узнайте о персональных предложениях', true, true)

        div#get-tel.content-wrap
            div.content-container.tel-container
                p.tel-container__title Введите номер вашего телефона

                div.tel-container__body
                    div.form-col
                        label.lbl-def Номер телефона

                        input.inp-def.js-tel-mask(type='tel')

                        span.error-desc Поле обязательно для заполнения

                    button.btn.js-action(data-action='get-offers') Показать спецпредложения
                //click-offers-erorr

        +footer()
